html {
    background-color: black;
    font-family: Verdana;
    vertical-align: middle;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
    font-weight: normal;
}

h2 {
    font-weight: 300;
    font-size: 42;
}
p {
    font-size: 21px;
    color: grey;
}

aside {
    color: grey;
    text-align: right;
}

a {
    color: aquamarine;
    font-size: 16;
}
